<div class="container">
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <ul *ngFor="let emp of employeeDetails">
                    <li>UserId : {{emp.userId}}</li>
                    <li>Fullname : {{emp.fullName}}</li>
                    <li>JobTitleName : {{emp.jobTitleName}}</li>
                    <li>EmployeeCode : {{emp.employeeCode}}</li>
                    <li>Region : {{emp.region}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-4">
            This is a Message
        </div>
        <div class="col-4">
            hello
        </div>
        <div class="col-4">
            hello
        </div>
    </div>
</div>